@model PortalCiudadano.Models.PortalGestion.SolicitudGestion

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "SolicitudGestions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-title">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" style="margin-bottom: 4px;">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg> Modificar la Solicitud</h5>
        </div>
        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.SolicitudId)
            @Html.HiddenFor(model => model.Foto1)
            @Html.HiddenFor(model => model.Foto2)
            @Html.HiddenFor(model => model.QuienRegistraGestion)
            @Html.HiddenFor(model => model.DireccionFuncionario)

            <div class="row">
                <!-- Columna izquierda: campos de texto y demás inputs -->
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaSolicitud, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.FechaSolicitud, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.FechaSolicitud, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SolicitudUsuario, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.SolicitudUsuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SolicitudUsuario, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.observaciones, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.observaciones, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioSolicitaId, "UsuarioSolicitaId", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("UsuarioSolicitaId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UsuarioSolicitaId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Columna derecha: imagenes y file inputs -->
                <div class="col-md-6">
                    <div class="row mb-3">
                        <div class="col-4 text-center">
                            <strong>Foto Actual 1:</strong> <br>
                            @if (!string.IsNullOrEmpty(Model.Foto1))
                            {
                                <img src="@Url.Content(Model.Foto1)" alt="Imagen" class="img-thumbnail modal-img" data-bs-toggle="modal" data-bs-target="#imageModal" data-img="@Url.Content(Model.Foto1)" style="max-width: 100px; height: auto; border-radius: 10%; object-fit: cover; cursor: pointer;" />
                            }
                        </div>
                        <div class="col-8">
                            <label for="FotoFile1" class="form-label">@Html.DisplayNameFor(model => model.FotoFile1)</label>
                            @Html.TextBoxFor(model => model.FotoFile1, new { @class = "form-control", type = "file", id = "FotoFile1" })
                            @Html.ValidationMessageFor(model => model.FotoFile1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 text-center">
                            <strong>Foto Actual 2:</strong> <br>
                            @if (!string.IsNullOrEmpty(Model.Foto2))
                            {
                                <img src="@Url.Content(Model.Foto2)" alt="Imagen" class="img-thumbnail modal-img" data-bs-toggle="modal" data-bs-target="#imageModal" data-img="@Url.Content(Model.Foto2)" style="max-width: 100px; height: auto; border-radius: 10%; object-fit: cover; cursor: pointer;" />
                            }
                        </div>
                        <div class="col-8">
                            <label for="FotoFile12" class="form-label">@Html.DisplayNameFor(model => model.FotoFile12)</label>
                            @Html.TextBoxFor(model => model.FotoFile12, new { @class = "form-control", type = "file", id = "FotoFile12" })
                            @Html.ValidationMessageFor(model => model.FotoFile12, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    </div>

}
<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body text-center p-0">
                <img src="" id="modalImage" class="img-fluid rounded" alt="Imagen completa" style="max-width: 90vw; max-height: 90vh; object-fit: contain;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".modal-img").forEach(img => {
                img.addEventListener("click", function () {
                    const imgSrc = this.getAttribute("data-img");
                    document.getElementById("modalImage").src = imgSrc;
                });
            });
            $(".close-modal").on("click", function () {
                $("#imageModal").modal("hide");
            });
        });
    </script>
}

