@model PortalCiudadano.Models.User

<div class="d-flex justify-content-center align-items-center vh-80">
    <div class="card shadow" style="width: 24rem;">
        <div class="card-body text-center">
            <h5 class="card-title text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#dc3545" class="bi bi-info-circle-fill" viewBox="0 0 16 16" style="margin-bottom: 3px;">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                </svg> Detalle del Usuario
            </h5>
            @if (!string.IsNullOrEmpty(Model.Foto))
            {
                <img src="@Url.Content(Model.Foto)"
                     alt="Foto del usuario"
                     class="rounded-circle mb-3"
                     style="width: 120px; height: 120px; object-fit: cover; border: 2px solid #ddd;">
            }
            else
            {
                <img src="~/Content/Imagenes/no-user.png"
                     alt="Foto por defecto"
                     class="rounded-circle mb-3"
                     style="width: 120px; height: 120px; object-fit: cover; border: 2px solid #ddd;">
            }

            <h5 class="card-title">@Model.Nombres @Model.Apellidos</h5>
            <p class="card-text text-muted">@Model.UserName</p>

            <dl class="row mt-4">
                <dt class="col-12 col-md-5 text-md-end text-start">Cédula:</dt>
                <dd class="col-12 col-md-7 text-md-start text-start">@Model.Cedula</dd>

                <dt class="col-12 col-md-5 text-md-end text-start">Teléfono:</dt>
                <dd class="col-12 col-md-7 text-md-start text-start">@Model.Telefono</dd>
            </dl>

            <a href="@Url.Action("EditUser", "Users")" class="btn btn-primary mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" style="margin-bottom: 1px;">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg> Editar Perfil
            </a>

        </div>
    </div>
</div>
@if (TempData["SuccessMessage"] != null)
{
    <script>
        showSuccessMessage('@TempData["SuccessMessage"]');
    </script>
}
