@model PortalCiudadano.ViewModels.UserView

<h3 class="text-secondary">Usuario: @Model.EMail</h3>
<h3>@ViewBag.Error</h3>
@using (Html.BeginForm("AddRole", "SettingUsers", new { userId = Model.UserId }, FormMethod.Post))
{
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @Html.DropDownList("RoleId", null, htmlAttributes: new { @class = "form-select", aria_label = "Select role" })
                    @Html.ValidationMessageFor(model => model.Role.RoleId, "", new { @class = "text-danger" }) <!-- Aquí se mostrará el mensaje de error -->
                    <br />
                    <button type="submit" class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-node-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8M6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5zM11 5a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 11 5M1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                        </svg> Agregar Rol al usuario
                    </button>
                </div>
            </div>
        </div>
    }


