@model IEnumerable<PortalCiudadano.ViewModels.UserView>
@{
    ViewBag.Title = "Index";
}

<br />
<div class="card shadow">
    <div class="card-body">
        <div class="card-title"><h4>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#dc3545" class="bi bi-wrench-adjustable" viewBox="0 0 16 16" style="margin-bottom: 4px;">
                    <path d="M16 4.5a4.5 4.5 0 0 1-1.703 3.526L13 5l2.959-1.11q.04.3.041.61" />
                    <path d="M11.5 9c.653 0 1.273-.139 1.833-.39L12 5.5 11 3l3.826-1.53A4.5 4.5 0 0 0 7.29 6.092l-6.116 5.096a2.583 2.583 0 1 0 3.638 3.638L9.908 8.71A4.5 4.5 0 0 0 11.5 9m-1.292-4.361-.596.893.809-.27a.25.25 0 0 1 .287.377l-.596.893.809-.27.158.475-1.5.5a.25.25 0 0 1-.287-.376l.596-.893-.809.27a.25.25 0 0 1-.287-.377l.596-.893-.809.27-.158-.475 1.5-.5a.25.25 0 0 1 .287.376M3 14a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                </svg> Administrar Permisos por Usuario</h4><hr /></div>
            <table class="table table-hover table-responsive active table-striped" id="My Table">
                <tr class="alert-info info">
                    <th>
                        @Html.DisplayNameFor(model => model.NombreCompleto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMail)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMail)
                        </td>

                        <td>

                            @if (User.IsInRole("Admin"))
                            {
                                <a class="btn btn-warning btn-sm" title="Asignar Rol" href="@Url.Action("Roles", "SettingUsers", new { userId = item.UserId })">
                                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-node-plus-fill" viewBox="0 0 16 16">
                                        <path d="M11 13a5 5 0 1 0-4.975-5.5H4A1.5 1.5 0 0 0 2.5 6h-1A1.5 1.5 0 0 0 0 7.5v1A1.5 1.5 0 0 0 1.5 10h1A1.5 1.5 0 0 0 4 8.5h2.025A5 5 0 0 0 11 13m.5-7.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2a.5.5 0 0 1 1 0" />
                                    </svg> Asignar Rol
                                </a>
                            }

                        </td>
                    </tr>
                }

            </table>
        </div>
        </div>



